In [144]:
import requests
import pandas as pd
import json
import os
import sys
sys.path.append('../')
import datetime
import time
import src.tda_api_tools as tda

In [145]:
tda.get_price_history("SPY", frequency=30, startDate="2020-12-09 13:00:00")

                                open      high     low     close    volume
to_datetime
2020-12-09 07:00:00.000000  370.8100  370.9500  370.69  370.7700     42913
2020-12-09 07:30:00.000000  370.7500  370.7700  370.46  370.6800     86686
2020-12-09 08:00:00.000000  370.6500  370.7500  370.61  370.7400     47998
2020-12-09 08:30:00.000000  370.7400  370.8400  370.69  370.8200     41333
2020-12-09 09:00:00.000000  370.8000  370.9200  370.65  370.8700    275382
2020-12-09 09:30:00.000000  370.8800  371.0500  370.39  370.8250   4007021
2020-12-09 10:00:00.000000  370.8100  370.8300  369.41  370.3350   4004152
2020-12-09 10:30:00.000000  370.3400  370.4700  369.76  369.9400   1982513
2020-12-09 11:00:00.000000  369.9300  369.9600  369.01  369.6000   2781359
2020-12-09 11:30:00.000000  369.5900  369.7800  369.04  369.7200   1826365
2020-12-09 12:00:00.000000  369.7200  369.7300  368.93  369.3200   1345032
2020-12-09 12:30:00.000000  369.3150  369.3150  367.75  368.5318   3149182
2020-12-09 13:00:00.000000  368.5100  368.5800  367.27  367.4918   2901826
2020-12-09 13:30:00.000000  367.4879  367.4879  365.97  366.0500   5082505
2020-12-09 14:00:00.000000  366.0400  367.5500  366.04  367.5100   3934870
2020-12-09 14:30:00.000000  367.5000  367.5000  366.28  366.8250   3858441
2020-12-09 15:00:00.000000  366.8200  367.3300  365.95  366.0700   4514598
2020-12-09 15:30:00.000000  366.0700  367.9900  366.03  366.8900  10469337
2020-12-09 16:00:00.000000  366.9000  367.1795  366.10  366.8300   4455936
2020-12-09 16:30:00.000000  366.8300  367.1600  366.82  367.1500    223317
2020-12-09 17:00:00.000000  367.1100  367.1400  366.85  367.1000    336831
2020-12-09 17:30:00.000000  367.1000  367.1000  366.81  366.9900     93925
2020-12-09 18:00:00.000000  366.9900  367.5700  366.91  367.5600    113136
2020-12-09 18:30:00.000000  367.5300  367.7000  367.39  367.3900     20932
2020-12-09 19:00:00.000000  367.4800  367.5800  367.28  367.4600     17862
2020-12-09 19:30:00.000000  367.3800  367.7000  367.38  367.5000     25570
2020-12-09 20:00:00.000000  367.5500  367.5500  367.47  367.4900      1000

# PAST WORK FOR REFENCE ONLY

Clean this up later

In [78]:
dates = pd.to_datetime("2020-12-09 13:00:00")

In [81]:
check_time = (dates - pd.Timestamp("1970-01-01")) // pd.Timedelta("1s")

In [84]:
check_time = str(check_time)+"000"

In [89]:
check_time

'1607518800000'

In [102]:
#API Keys
file = open("../tdam_secret.json")
keys = json.load(file)["key"]

def get_price_history(symbol:str, **kwargs) -> str:
    try:
        #initialize base_url and request parameters
        base_url = r"https://api.tdameritrade.com/v1/marketdata/{}/pricehistory".format(symbol)
        payload={"apikey": keys}

        for key, values in kwargs.items():
            if key == "startDate" or key=="endDate":
                values = datetime_to_unix(values)
            payload[key] = values
        # get requests
        content = requests.get(url=base_url, params=payload)
    
        return content.json()
    except ValueError:
        print("Check Value Formats")

In [103]:
def datetime_to_unix(time:str):
    dates = pd.to_datetime(time)
    check_time = (dates - pd.Timestamp("1970-01-01")) // pd.Timedelta("1s")
    return str(check_time)+"000"

In [104]:
datetime_to_unix()

TypeError: datetime_to_unix() missing 1 required positional argument: 'time'

In [106]:
outputdata = get_price_history("SPY", frequency=30, startDate="2020-12-09 13:00:00")

In [107]:
outputdata

{'candles': [{'open': 370.81,
   'high': 370.95,
   'low': 370.69,
   'close': 370.77,
   'volume': 42913,
   'datetime': 1607515200000},
  {'open': 370.75,
   'high': 370.77,
   'low': 370.46,
   'close': 370.68,
   'volume': 86686,
   'datetime': 1607517000000},
  {'open': 370.65,
   'high': 370.75,
   'low': 370.61,
   'close': 370.74,
   'volume': 47998,
   'datetime': 1607518800000},
  {'open': 370.74,
   'high': 370.84,
   'low': 370.69,
   'close': 370.82,
   'volume': 41333,
   'datetime': 1607520600000},
  {'open': 370.8,
   'high': 370.92,
   'low': 370.65,
   'close': 370.87,
   'volume': 275382,
   'datetime': 1607522400000},
  {'open': 370.88,
   'high': 371.05,
   'low': 370.39,
   'close': 370.825,
   'volume': 4007021,
   'datetime': 1607524200000},
  {'open': 370.81,
   'high': 370.83,
   'low': 369.41,
   'close': 370.335,
   'volume': 4004152,
   'datetime': 1607526000000},
  {'open': 370.34,
   'high': 370.47,
   'low': 369.76,
   'close': 369.94,
   'volume': 1982513,
   'datetime': 1607527800000},
  {'open': 369.93,
   'high': 369.96,
   'low': 369.01,
   'close': 369.6,
   'volume': 2781359,
   'datetime': 1607529600000},
  {'open': 369.59,
   'high': 369.78,
   'low': 369.04,
   'close': 369.72,
   'volume': 1826365,
   'datetime': 1607531400000},
  {'open': 369.72,
   'high': 369.73,
   'low': 368.93,
   'close': 369.32,
   'volume': 1345032,
   'datetime': 1607533200000},
  {'open': 369.315,
   'high': 369.315,
   'low': 367.75,
   'close': 368.5318,
   'volume': 3149182,
   'datetime': 1607535000000},
  {'open': 368.51,
   'high': 368.58,
   'low': 367.27,
   'close': 367.4918,
   'volume': 2901826,
   'datetime': 1607536800000},
  {'open': 367.4879,
   'high': 367.4879,
   'low': 365.97,
   'close': 366.05,
   'volume': 5082505,
   'datetime': 1607538600000},
  {'open': 366.04,
   'high': 367.55,
   'low': 366.04,
   'close': 367.51,
   'volume': 3934870,
   'datetime': 1607540400000},
  {'open': 367.5,
   'high': 367.5,
   'low': 366.28,
   'close': 366.825,
   'volume': 3858441,
   'datetime': 1607542200000},
  {'open': 366.82,
   'high': 367.33,
   'low': 365.95,
   'close': 366.07,
   'volume': 4514598,
   'datetime': 1607544000000},
  {'open': 366.07,
   'high': 367.99,
   'low': 366.03,
   'close': 366.89,
   'volume': 10469337,
   'datetime': 1607545800000},
  {'open': 366.9,
   'high': 367.1795,
   'low': 366.1,
   'close': 366.83,
   'volume': 4455936,
   'datetime': 1607547600000},
  {'open': 366.83,
   'high': 367.16,
   'low': 366.82,
   'close': 367.15,
   'volume': 223317,
   'datetime': 1607549400000},
  {'open': 367.11,
   'high': 367.14,
   'low': 366.85,
   'close': 367.1,
   'volume': 336831,
   'datetime': 1607551200000},
  {'open': 367.1,
   'high': 367.1,
   'low': 366.81,
   'close': 366.99,
   'volume': 93925,
   'datetime': 1607553000000},
  {'open': 366.99,
   'high': 367.57,
   'low': 366.91,
   'close': 367.56,
   'volume': 113136,
   'datetime': 1607554800000},
  {'open': 367.53,
   'high': 367.7,
   'low': 367.39,
   'close': 367.39,
   'volume': 20932,
   'datetime': 1607556600000},
  {'open': 367.48,
   'high': 367.58,
   'low': 367.28,
   'close': 367.46,
   'volume': 17862,
   'datetime': 1607558400000},
  {'open': 367.38,
   'high': 367.7,
   'low': 367.38,
   'close': 367.5,
   'volume': 25570,
   'datetime': 1607560200000},
  {'open': 367.55,
   'high': 367.55,
   'low': 367.47,
   'close': 367.49,
   'volume': 1000,
   'datetime': 1607562000000}],
 'symbol': 'SPY',
 'empty': False}

In [109]:
type(outputdata)

dict

In [142]:
def apiout_to_df(apiout:dict)->pd.DataFrame:
    out_df = pd.DataFrame(outputdata["candles"])
    out_df["to_datetime"] = out_df.datetime.apply(lambda x: int(str(x)[:-3]))
    out_df.to_datetime = out_df.to_datetime.apply(lambda x: datetime.datetime.fromtimestamp(x).strftime("%Y-%m-%d %H:%M:%S.%f"))
    out_df.index = out_df.to_datetime
    out_df.drop(["datetime", "to_datetime"], inplace=True, axis=1)
    return out_df

In [143]:
apiout_to_df(outputdata)

                                open      high     low     close    volume
to_datetime
2020-12-09 07:00:00.000000  370.8100  370.9500  370.69  370.7700     42913
2020-12-09 07:30:00.000000  370.7500  370.7700  370.46  370.6800     86686
2020-12-09 08:00:00.000000  370.6500  370.7500  370.61  370.7400     47998
2020-12-09 08:30:00.000000  370.7400  370.8400  370.69  370.8200     41333
2020-12-09 09:00:00.000000  370.8000  370.9200  370.65  370.8700    275382
2020-12-09 09:30:00.000000  370.8800  371.0500  370.39  370.8250   4007021
2020-12-09 10:00:00.000000  370.8100  370.8300  369.41  370.3350   4004152
2020-12-09 10:30:00.000000  370.3400  370.4700  369.76  369.9400   1982513
2020-12-09 11:00:00.000000  369.9300  369.9600  369.01  369.6000   2781359
2020-12-09 11:30:00.000000  369.5900  369.7800  369.04  369.7200   1826365
2020-12-09 12:00:00.000000  369.7200  369.7300  368.93  369.3200   1345032
2020-12-09 12:30:00.000000  369.3150  369.3150  367.75  368.5318   3149182
2020-12-09 13:00:00.000000  368.5100  368.5800  367.27  367.4918   2901826
2020-12-09 13:30:00.000000  367.4879  367.4879  365.97  366.0500   5082505
2020-12-09 14:00:00.000000  366.0400  367.5500  366.04  367.5100   3934870
2020-12-09 14:30:00.000000  367.5000  367.5000  366.28  366.8250   3858441
2020-12-09 15:00:00.000000  366.8200  367.3300  365.95  366.0700   4514598
2020-12-09 15:30:00.000000  366.0700  367.9900  366.03  366.8900  10469337
2020-12-09 16:00:00.000000  366.9000  367.1795  366.10  366.8300   4455936
2020-12-09 16:30:00.000000  366.8300  367.1600  366.82  367.1500    223317
2020-12-09 17:00:00.000000  367.1100  367.1400  366.85  367.1000    336831
2020-12-09 17:30:00.000000  367.1000  367.1000  366.81  366.9900     93925
2020-12-09 18:00:00.000000  366.9900  367.5700  366.91  367.5600    113136
2020-12-09 18:30:00.000000  367.5300  367.7000  367.39  367.3900     20932
2020-12-09 19:00:00.000000  367.4800  367.5800  367.28  367.4600     17862
2020-12-09 19:30:00.000000  367.3800  367.7000  367.38  367.5000     25570
2020-12-09 20:00:00.000000  367.5500  367.5500  367.47  367.4900      1000

In [119]:
out_df = pd.DataFrame(outputdata["candles"])

In [120]:
out_df.head()

     open    high     low   close  volume       datetime
0  370.81  370.95  370.69  370.77   42913  1607515200000
1  370.75  370.77  370.46  370.68   86686  1607517000000
2  370.65  370.75  370.61  370.74   47998  1607518800000
3  370.74  370.84  370.69  370.82   41333  1607520600000
4  370.80  370.92  370.65  370.87  275382  1607522400000

In [134]:
out_df.head()

,open,high,low,close,volume,datetime,to_datetime
to_datetime,,,,,,,
2020-12-09 07:00:00.000000,370.81,370.95,370.69,370.77,42913,1607515200000,2020-12-09 07:00:00.000000
2020-12-09 07:30:00.000000,370.75,370.77,370.46,370.68,86686,1607517000000,2020-12-09 07:30:00.000000
2020-12-09 08:00:00.000000,370.65,370.75,370.61,370.74,47998,1607518800000,2020-12-09 08:00:00.000000
2020-12-09 08:30:00.000000,370.74,370.84,370.69,370.82,41333,1607520600000,2020-12-09 08:30:00.000000
2020-12-09 09:00:00.000000,370.80,370.92,370.65,370.87,275382,1607522400000,2020-12-09 09:00:00.000000

In [71]:
dt = datetime.datetime([2020,12,9])

TypeError: an integer is required (got type list)

In [33]:
dt = datetime.datetime(2020, 12, 9, 13, 13)

In [34]:
test_time = time.mktime(dt.timetuple())

In [35]:
test_time = str(test_time)[:-2] + "000"

In [36]:
test_time

'1607537580000'

In [26]:
160621920

160621920

In [123]:
datetime.datetime.fromtimestamp(1607515200).strftime("%Y-%m-%d %H:%M:%S.%f")

'2020-12-09 07:00:00.000000'

In [37]:
#API Keys
file = open("../tdam_secret.json")
keys = json.load(file)["key"]

In [53]:
request_url = r"https://api.tdameritrade.com/v1/marketdata/{}/pricehistory".format("SPY")

In [54]:
payload={"apikey": keys,
         "periodType":"day",
         "frequency": "30",
         "startDate": test_time
        }

In [55]:
payload2={"apikey": keys,
         "periodType": "day",
         "frequencyType": "minute",
         "frequency": "30",
         "perdio": "2",
         #"endDate": "1607539489",
         "startDate": test_time,
         "needExtendedHourData": "true"
        }

In [56]:
content = requests.get(url=request_url, params=payload)

In [57]:
content.json()

{'candles': [{'open': 370.81,
   'high': 370.95,
   'low': 370.69,
   'close': 370.77,
   'volume': 42913,
   'datetime': 1607515200000},
  {'open': 370.75,
   'high': 370.77,
   'low': 370.46,
   'close': 370.68,
   'volume': 86686,
   'datetime': 1607517000000},
  {'open': 370.65,
   'high': 370.75,
   'low': 370.61,
   'close': 370.74,
   'volume': 47998,
   'datetime': 1607518800000},
  {'open': 370.74,
   'high': 370.84,
   'low': 370.69,
   'close': 370.82,
   'volume': 41333,
   'datetime': 1607520600000},
  {'open': 370.8,
   'high': 370.92,
   'low': 370.65,
   'close': 370.87,
   'volume': 275382,
   'datetime': 1607522400000},
  {'open': 370.88,
   'high': 371.05,
   'low': 370.39,
   'close': 370.825,
   'volume': 4007021,
   'datetime': 1607524200000},
  {'open': 370.81,
   'high': 370.83,
   'low': 369.41,
   'close': 370.335,
   'volume': 4004152,
   'datetime': 1607526000000},
  {'open': 370.34,
   'high': 370.47,
   'low': 369.76,
   'close': 369.94,
   'volume': 1982513,
   'datetime': 1607527800000},
  {'open': 369.93,
   'high': 369.96,
   'low': 369.01,
   'close': 369.6,
   'volume': 2781359,
   'datetime': 1607529600000},
  {'open': 369.59,
   'high': 369.78,
   'low': 369.04,
   'close': 369.72,
   'volume': 1826365,
   'datetime': 1607531400000},
  {'open': 369.72,
   'high': 369.73,
   'low': 368.93,
   'close': 369.32,
   'volume': 1345032,
   'datetime': 1607533200000},
  {'open': 369.315,
   'high': 369.315,
   'low': 367.75,
   'close': 368.5318,
   'volume': 3149182,
   'datetime': 1607535000000},
  {'open': 368.51,
   'high': 368.58,
   'low': 367.27,
   'close': 367.4918,
   'volume': 2901826,
   'datetime': 1607536800000},
  {'open': 367.4879,
   'high': 367.4879,
   'low': 365.97,
   'close': 366.05,
   'volume': 5082505,
   'datetime': 1607538600000},
  {'open': 366.04,
   'high': 367.55,
   'low': 366.04,
   'close': 367.51,
   'volume': 3934870,
   'datetime': 1607540400000},
  {'open': 367.5,
   'high': 367.5,
   'low': 366.28,
   'close': 366.825,
   'volume': 3858441,
   'datetime': 1607542200000},
  {'open': 366.82,
   'high': 367.33,
   'low': 365.95,
   'close': 366.07,
   'volume': 4514598,
   'datetime': 1607544000000},
  {'open': 366.07,
   'high': 367.99,
   'low': 366.03,
   'close': 366.89,
   'volume': 10469337,
   'datetime': 1607545800000},
  {'open': 366.9,
   'high': 367.1795,
   'low': 366.1,
   'close': 366.83,
   'volume': 4455936,
   'datetime': 1607547600000},
  {'open': 366.83,
   'high': 367.16,
   'low': 366.82,
   'close': 367.15,
   'volume': 223317,
   'datetime': 1607549400000},
  {'open': 367.11,
   'high': 367.14,
   'low': 366.85,
   'close': 367.1,
   'volume': 336831,
   'datetime': 1607551200000},
  {'open': 367.1,
   'high': 367.1,
   'low': 366.81,
   'close': 366.99,
   'volume': 93925,
   'datetime': 1607553000000},
  {'open': 366.99,
   'high': 367.57,
   'low': 366.91,
   'close': 367.56,
   'volume': 113136,
   'datetime': 1607554800000},
  {'open': 367.53,
   'high': 367.7,
   'low': 367.39,
   'close': 367.39,
   'volume': 20932,
   'datetime': 1607556600000},
  {'open': 367.48,
   'high': 367.58,
   'low': 367.28,
   'close': 367.46,
   'volume': 17862,
   'datetime': 1607558400000},
  {'open': 367.38,
   'high': 367.7,
   'low': 367.38,
   'close': 367.5,
   'volume': 25570,
   'datetime': 1607560200000},
  {'open': 367.55,
   'high': 367.55,
   'low': 367.47,
   'close': 367.49,
   'volume': 1000,
   'datetime': 1607562000000}],
 'symbol': 'SPY',
 'empty': False}

In [40]:
call_url = "".join([request_url, symbol, api_call])

In [16]:
response = requests.get(call_url)

In [17]:
response