In [1]:
from twelvedata import TDClient
import json
import os
import sys
sys.path.append('../')
import src.td_tools as tl

In [2]:
file = open("../td_secret.json")
keys = json.load(file)
td = TDClient(apikey=keys["key"])

In [118]:
company = "AAPL"
interval = "1h"
size = 50
timezone = "America/New_York"
start_time = "2018-01-14 09:00:00"
end_time = "2018-01-16 11:00:00"

In [119]:
def td_quote(sym:str, interval:str, **kwargs): #size:int, timezone:str, start:str, end:str):
    try:
        return td.time_series(symbol="MSFT",
                              outputsize=size,
                              interval=interval,
                              start_date=kwargs["start"],
                              end_date=kwargs["end"]
                             ).as_pandas()
    except ValueError:
        print("Check Value Formats")

In [120]:
request2_df = td_quote(sym=company, 
                       interval=interval, 
                       timezone=timezone, 
                       start=start_time,
                       end=end_time)

BadRequestError: No data is available on the specified dates. Try setting different start/end dates.

In [121]:
request2_df

                          open       high        low      close   volume
datetime
2020-01-16 11:00:00  164.85001  165.10001  164.53000  164.98500  2068043
2020-01-16 10:00:00  164.67999  165.14000  164.53999  164.84000  3093266
2020-01-16 09:00:00  164.23280  164.75999  164.17999  164.69000  2717519
2020-01-15 15:00:00  163.59000  163.61000  162.96001  163.27000  3921854
2020-01-15 14:00:00  163.44501  163.88000  163.38071  163.58501  1608305
2020-01-15 13:00:00  163.45000  163.67000  163.31000  163.44501  2010280
2020-01-15 12:00:00  163.46001  163.94000  163.39999  163.45500  1746397
2020-01-15 11:00:00  163.80991  163.82001  163.32001  163.45000  1840912
2020-01-15 10:00:00  163.28000  163.92500  163.13000  163.80499  2582034
2020-01-15 09:00:00  162.63000  163.39000  162.59000  163.23170  2463624
2020-01-14 15:00:00  162.53999  162.61000  161.72070  162.17000  3963661
2020-01-14 14:00:00  162.78000  162.88000  162.30000  162.53999  2583135
2020-01-14 13:00:00  163.21500  163.56000  162.74001  162.77000  2360999
2020-01-14 12:00:00  163.20000  163.45000  163.12000  163.21001  1173007
2020-01-14 11:00:00  163.20000  163.24001  162.82001  163.19630  1531091
2020-01-14 10:00:00  162.87000  163.60001  162.77499  163.18300  2894437
2020-01-14 09:00:00  163.25000  163.46001  162.53340  162.85001  4024028

In [5]:
request_df.to_csv(r"..\data\appl_1h_500.csv")

In [4]:
request_df = tl.td_get(sym=company, interval="1h", size=size, timezone=timezone)

In [6]:
request_df

                         open      high       low     close   volume
datetime
2020-12-08 15:30:00  124.8350  124.8900  124.3250  124.3300  7093986
2020-12-08 14:30:00  124.7784  124.9800  124.6800  124.8300  8008791
2020-12-08 13:30:00  124.7050  124.8700  124.3900  124.7708  8902906
2020-12-08 12:30:00  124.0600  124.8200  124.0400  124.7058  8528354
2020-12-08 11:30:00  123.4900  124.1500  123.4461  124.0680  7472687
...                       ...       ...       ...       ...      ...
2020-08-27 14:30:00  125.5700  125.8550  125.3225  125.5675  1585915
2020-08-27 13:30:00  125.1750  125.6500  124.5850  125.5798  2305762
2020-08-27 12:30:00  125.6200  125.7025  123.8325  125.1625  6109790
2020-08-27 11:30:00  125.9725  126.3850  125.5325  125.5700  1508208
2020-08-27 10:30:00  126.3850  126.4625  125.7750  125.9975  1159755

[500 rows x 5 columns]

In [24]:
type(request_df.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [16]:
ts = td.time_series(
    symbol="MSFT",
    outputsize=75,
    interval="1day",
).as_pandas()
# # 1. Returns OHLCV chart
# ts.as_pyplot_figure()

# # 2. Returns OHLCV + BBANDS(close, 20, 2, SMA) + %B(close, 20, 2 SMA) + STOCH(14, 3, 3, SMA, SMA)
# ts.with_bbands().with_percent_b().with_stoch(slow_k_period=3).as_pyplot_figure()

In [17]:
ts

                 open       high        low      close    volume
datetime
2020-12-08  213.97000  216.95000  212.89000  216.00999  20519497
2020-12-07  214.37000  215.53999  212.99001  214.28999  24612529
2020-12-04  214.06000  215.38000  213.18010  214.39999  19401788
2020-12-03  214.61000  216.38000  213.64999  214.24001  25096300
2020-12-02  214.88000  215.47000  212.80000  215.37000  23711600
...               ...        ...        ...        ...       ...
2020-08-28  228.17999  230.64400  226.58000  228.94000  22685374
2020-08-27  222.81000  231.14999  219.39999  226.63000  53361148
2020-08-26  217.88000  222.09000  217.36000  221.14999  31432045
2020-08-25  213.10001  216.61000  213.10001  216.45641  18968809
2020-08-24  214.78999  215.52000  212.42999  213.75999  21349947

[75 rows x 5 columns]

In [114]:
def test_func(test:str, **kwargs):
    print(kwargs["hello"])
    print(kwargs["bye"])

In [115]:
test_func("test", hello="hello_var", bye="bye_var")

hello_var
bye_var